.Banner {
    height: 223px;
    border-radius: 15px;
    text-align: center;
    background-size: cover;
}
.Banner .opacity {
    background-color: black;
    opacity: 0.3;
    border-radius: 15px;
    height: 100%;
}
.Banner .message-banner {
    font-size: 48px;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.Banner .message-banner .opacity {
    position: absolute;
    z-index: -1;
    background-color: black;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
@media screen and (max-device-width : 480px) {
    .Banner {
        height: 111px;
        width: 335px;
    }
    .Banner .message-banner {
        font-size: 24px;
        text-align: left;
        padding-left: 16px;
        padding-right: 102px;
    }
    .Banner .message-banner .opacity{
        margin-left: -16px;
    }
}