.Host{
    display: flex;
}
.Host .host-image {
    border-radius: 50%;
    max-height: 64px;
}
.Host .host-name{
    font-size: 18px;
    color: #FF6060;
    width: 93px;
    text-align: center;
    padding-top: 10px;
    max-height: 64px;
}
@media screen and (max-device-width: 480px) {
    .Host {
        display: flex;
        position: absolute;
        right: 20px;
        top: 371px;
    }
    .Host .host-image {
        
        height: 32px;
    }
    .Host .host-name{
        font-size: 12px;
        width: 83px;
        padding-top: 1px;
    }
}
