.NotFound .error404{
    font-size: 288px;
    text-align: center;
    color: #FF6060;
}
.NotFound .error-message{
    font-size: 36px;
    text-align: center;
    color: #FF6060;
}
.NotFound .linkToHome{
    font-size: 18px;
    text-align: center;
    color: #FF6060;
    text-decoration:underline;
}