header{
    display: flex;
    justify-content: space-between;
    height: 68px;
}
header img{
    height: 100%;
    cursor: pointer;
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
}
header li{
    text-align: right;
    width: 150px;
    
}
header a{
    color: #FF6060;
    font-size: 24px;
    text-decoration:none;
    border-bottom: 2px solid transparent;
}
header a:hover{
    border-color: #FF6060;
 }
@media screen and (max-device-width : 480px) {
    header{
        height: 47px;
    }
    header li{
        width: 70px;
    }
    header a{
        font-size: 12px;
    }
}