@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.App {
  padding: 40px 100px ;
  font-family: 'Montserrat', sans-serif;
}
@media screen and (max-device-width : 480px) {
  .App {
    padding: 20px 20px ;
  }
}
