footer{
    position: relative;
    height: 209px; 
    background: #000000;
    width: 100% !important;
}
footer .logo{
   text-align: center;
   padding-top: 66px;
}
footer .text-footer{
    color: #fff;
    font-size: 24px;
    text-align: center;
}